body {
	color: rgb(110, 199, 103);
	background-color: black;
	text-align: center;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: courier, monospace;
}

h1 {
	font-size: 45px;
}


.box {
	color: black;
	background-color: rgb(110, 199, 103);
	border: 2px solid darkgreen;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	font-family: 'Lucida Grande', monospace;
	#text-align: center;
	#max-width: 800px;
	margin-top: 15px;
	#margin-left: auto;
	#margin-right: auto;
}

.box a:link, a:visited {
	color: darkgreen;
}

.box a:hover, a:active {
	color: white;
}

a:link, a:visited {
	color: rgb(110, 199, 103);
	text-decoration: none;
}

a:hover, a:active {
	color: white;
	text-decoration: none;
}
